doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='author', content='Elchi.io')
        meta(name='description', content='Elchi is your ultimate Envoy proxy management tool. Configure, deploy, and monitor Envoy proxies with ease. Perfect for advanced HTTP and gRPC configurations.')

        title Elchi - Envoy Proxy Management Tool

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='#!')
                    img(src='assets/img/logo_black.png', alt='Elchi Logo' width='150', height='50')
                a.btn.btn-primary(href='https://demo.elchi.io') Try

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            // Page heading
                            h1.mb-5 Elchi is Envoy Control Plane With UI!

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.png');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Fields to UI Components
                        p.lead.mb-0
                            | Dynamic configuration screens were designed in a React TypeScript project using Envoy’s proto files. These screens allow users to create, update configurations for Envoy resources such as listeners, clusters, endpoints, HCM etc. directly through the UI.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.png');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Filters
                        p.lead.mb-0
                            | Create, edit, and share Envoy filters seamlessly. This allows you to manage filters efficiently and reuse them across multiple configurations.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.png');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Dependencies
                        p.lead.mb-0
                            | Displays upstream and downstream dependencies for all Envoy resources. This includes main resources along with their associated TypedConfig and ConfigDiscovery dependencies.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-4.png');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Snapshot Dump
                        p.lead.mb-0
                            | Provides a detailed view of all resources associated with a specific listener within the current snapshot. This feature enables visualization of the entire configuration data stored in the snapshot, allowing for in-depth inspection and debugging of Envoy configurations.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-6.png');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Quick Start Scenarios
                        p.lead.mb-0
                            | A quick start feature was implemented to simplify the creation of Envoy configurations. This wizard-like structure enables users to generate both basic Envoy configurations and more advanced Envoy setups by providing minimal input. It automatically generates all necessary resources, streamlining the configuration process and reducing manual effort.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-5.png');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Distributed Services
                        p.lead.mb-0
                            | All components in the system, including the gRPC server, are designed to operate in a fully distributed manner. This setup ensures high scalability, modularity, and flexibility. Each component communicates efficiently using clearly defined protocols, enabling independent operation and seamless integration across the architecture.

        // Call to Action
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        h2.mb-4 Ready to get started? Try it now!
                        // Signup form
                        
                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!


                        a.btn.btn-primary(href='https://demo.elchi.io') Try it

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')